/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: #2A3440;
  background: white;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

p{
  font-size: 18px;
  color: #8792A1;
  line-height: 30px;
  margin: 20px 0 25px 0;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
  background: #1FB6FF;
  padding-left: 35px;
  padding-right: 35px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;
  border-radius: 25px;
  display: inline-block;
}

.button:hover {
  background: #009EEB;
}

#logo {
  width: 140px;
  height: 32px;
  display: inline-block;
  background: url('../img/logo.png');
  margin-bottom: 50px;
}

#loggedIn {
  display: none;
  padding: 90px;
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#loggedIn .flex {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-between
}

#loggedIn .header {
  flex: 0 1 86px;
}

#loggedIn #lastUpdated {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;
}

#loggedOut {
  box-sizing: border-box;
  background: white;
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.previewColumn {
  background: #DFC7F0;
}

.mainColumn .content {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.flexItem {
  flex: 1 1 auto;
  margin: 30px;
  text-align: center;
}

#lastUpdated div:first-child {
    margin-left: 0px;
}

#lastUpdated div:last-child {
    margin-right: 0px;
}

.imageSlide {
  box-shadow: 0 2px 12px 0 rgba(12,16,20,0.20);
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

    #logo{
      background: url('../img/logo@2x.png');
      background-size: 140px 32px;
    }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
